<!-- <div>
    <h2>Registro de Avisos</h2>
    <form (ngSubmit)="registrarAviso()">
        <label for="nombreAcusado">Nombre del Acusado:</label>
        <input type="text" [(ngModel)]="nombreAcusado" name="nombreAcusado" required>
        <br>
        <label for="lugarResidencia">Lugar de Residencia:</label>
        <input type="text" [(ngModel)]="lugarResidencia" name="lugarResidencia" required>
        <br>
        <label for="planeta">Planeta:</label>
        <input type="text" [(ngModel)]="planeta" name="planeta" required>
        <br>
        <label for="sistemaPlanetario">Sistema Planetario:</label>
        <input type="text" [(ngModel)]="sistemaPlanetario" name="sistemaPlanetario" required>
        <br>
        <button type="submit">Registrar Aviso</button>
    </form>
  </div>
  <app-acusaciones></app-acusaciones>
   -->